---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Konzerte from '../components/Konzerte.astro';
import Projekt from '../components/Projekt.astro';
import Musiker from '../components/Musiker.astro';
import Medien from '../components/Medien.astro';
import Kontakt from '../components/Kontakt.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <About />
    <Konzerte />
    <Projekt />
    <Musiker />
    <Medien />
    <Kontakt />
  </main>
  <Footer />
</Base>
